body {
  font-family: helvetica,verdana;
  /*background: url("https://dl.dropboxusercontent.com/s/dcc7c2me5lja9c5/wooden-background.png");*/
  letter-spacing: 0.6px;
  font-size: 14px;
}

.cardShadow{
  box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important
}


.logoHeader {
  position: fixed;
  height: 90px;
  background: #E4E4E4;
  width: 100%;
}

.logo {
  height: 90px;
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
}

.navBar {
  float: right;
  margin-right: 10px;
  margin-top: 50px;
  font-size: 20px;
}

.navList {
  list-style-type: none;
}

.navItem {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

.navItem:last-child {
  border-right: none;
}


.navItem a {
  text-decoration: none;
  color: rgb(168,4,0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navItem a:hover {
  color: #666;
}

navItem.active a {
  font-weight: bold;
  color: #333;
}

.homePage, .contactUsPage {
  position: absolute;
  height: calc(100% - 90px);
  margin-top: 90px;
  width: 100%;
  overflow: hidden;
}

.searchBar {
  width: 200px;
  float: right;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px
}

.filterBar {
  float: right;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 220px;
  white-space: nowrap;
}

.onSaleFilter {
  display: inline-block;
}


/* Sidebar */
.sidebar {
  top: 60px;
  position: absolute;
}

.sidebar ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* */
.pageControl {
  position: absolute;
    right: 0;
    left: 0;
    margin: 40px auto;
    text-align: center;
}

.products-container {
  /*border: 1px solid;*/
  max-height: 800px;
  /*height: calc(100% - 50px);*/
  /* max-width : 1400px;*/
  position: relative;
  top:50px;
  width: calc(100% - 200px);
  /*max-width: 1400px;*/
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0px auto 0px 200px;
}



.products-list {
  list-style-type: none;
}

.product {
  height: 310px;
  width: calc(25% - 20px);
  float: left;
  margin: 10px;
  /*  overflow: hidden;*/
  position: relative;
  overflow: visible;
  border: 1px solid #E4E4E4;
}

.product-image {
  height: 200px;
  width: 100%;
  padding: 10px;
 /* border-top-left-radius: 20px;
  border-top-right-radius: 20px;*/
}

.product-details {
  padding-top: 24px;
  position: relative; 
/*  background-color: white;*/  
  overflow-y: auto;
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-price {
  position: absolute;
  right: 10px;
  top: 0px;
  color: orange;
  font-size: 18px;
  font-weight: 800;
}

.on-sale span {
  display: none;
}

.on-sale {
  position: absolute;
  right: -15px;
  top: -15px;
  background: url('https://dl.dropboxusercontent.com/s/ppyu12k7seid1ox/on-sale%20star.png');
  height: 50px;
  width: 50px;
  text-align: center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  z-index: 10;
}

.modal-dialog {
  margin: 10% auto !important;
}
.productPopup {
  height: 510px;
  width: 600px;
}

.productPopup .product-image {
  border-radius: 0px;
  width: 600px;
  height: auto;
  max-height: 400px;
}
.productPopup .product-details {
  margin-bottom: 10px;
  padding: 10px;
}

.productPopup .on-sale span {
  display: block;
}

.productPopup .on-sale {
  right: -70px;
  top: -40px;
  font-size: 20px;
  font-weight: 800;
  height: 150px;
  width: 150px;
  background-size: 150px 150px;
  padding-top: 50px;
}

.contactUsContainer {
  max-width: 1200px;
  position: relative;
  margin: auto
}

.shopPic {
  position: relative;
  width: calc(100% - 550px);
  min-width: 200px;
  margin: 20px;
  float: right;
}

.shopPic img {
  max-height: 700px;
  max-width: 100%;
  border-radius: 10px;
  float: right;
}

.businessInfo {
  position: relative;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
  width: 465px;
  float: left;
  min-width: 465px;
  background: url("https://dl.dropboxusercontent.com/s/ew04bgbq1mfsd3a/business-card.png");
  background-repeat: no-repeat;
  height: 269px;
  border-radius: 10px;
  line-height: 35px;
  letter-spacing: 1px;
}

.ownerName {
  font-size: 25px;
}

.address {
  margin-left: 100px;
  margin-top: -32px;
}

.map {
  margin: 20px;
  width: 460px;
  height: 350px;
  position: relative;
  float: left;
}